[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/simple_cpp_project"]
	path = external/simple_cpp_project
	url = git@github.com:twyleg/simple_cpp_project.git
